In [1]:
import numpy as np
import pandas as pd

In [21]:
df=pd.read_csv("C:/Users/mayan/Downloads/new_df.csv")
df

,Job_ID,Company,Job_name,Location,Applicants,involvement,Level,Employees,Link,Followers,Industry,skills,merged,Company_ID,Details_ID
0,J-0,MedTourEasy,R Analyst Trainee,"Bengaluru, Karnataka, India",14,Internship,Internship,350,https://www.linkedin.com/company/medtoureasyy/...,18054,Hospitals and Health Care,"adaptability,business acumen,communication ski...",InternshipInternship14,C-0,D-0
1,J-1,Infoparks Kerala,Immediate hiring - AR Caller,"Kochi, Kerala, India",3,Full-time,Entry level,10001,https://www.linkedin.com/company/infoparkskera...,57465,IT Services and IT Consulting,"analytical and problem solving,communication s...",Full-timeEntry level3,C-1,D-1
2,J-2,Infoparks Kerala,QA Tester - Manual and Automation,"Kochi, Kerala, India",18,Full-time,Entry level,10001,https://www.linkedin.com/company/infoparkskera...,57465,IT Services and IT Consulting,"analytical and problem solving,communication s...",Full-timeEntry level18,C-1,D-2
3,J-3,GE Healthcare,Software Engineer,"Bengaluru, Karnataka, India",46,Full-time,Entry level,10001,https://www.linkedin.com/company/gehealthcare/...,1897527,Hospitals and Health Care,"analytical and problem solving,collaboration,c...",Full-timeEntry level46,C-2,D-3
4,J-4,Qualcomm,"Engineer, Staff","Hyderabad, Telangana, India",11,Full-time,Entry level,10001,https://www.linkedin.com/company/qualcomm/life/,1156557,Wireless Services,"analytical and problem solving,machine learnin...",Full-timeEntry level11,C-3,D-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,J-404,Larsen & Toubro,Project Manager,"Chennai, Tamildu, India",91,Full-time,Entry level,10001,https://www.linkedin.com/company/larsen-&-toub...,3365316,Construction,data analytics,Full-timeEntry level91,C-106,D-171
411,J-405,Aster DM Healthcare,"Staff Nurse. Nursing.Aster Mother Hospital, Ar...","Eranad, Kerala, India",11,Full-time,Mid-Senior level,10001,https://www.linkedin.com/company/asterdmhealth...,298865,Hospitals and Health Care,data analytics,Full-timeMid-Senior level11,C-165,D-26
412,J-406,Larsen & Toubro,Project Site Engineer,"Chennai, Tamildu, India",59,Full-time,Entry level,10001,https://www.linkedin.com/company/larsen-&-toub...,3365316,Construction,data analytics,Full-timeEntry level59,C-106,D-172
413,J-407,Aster DM Healthcare,Deputy Manager.International Marketing.Aster C...,"Bengaluru, Karnataka, India",5,Full-time,Mid-Senior level,10001,https://www.linkedin.com/company/asterdmhealth...,298865,Hospitals and Health Care,data analytics,Full-timeMid-Senior level5,C-165,D-14
414,J-408,Mahindra Group,Senior Engineer,"Chennai, Tamildu, India",6,Full-time,Mid-Senior level,10001,https://www.linkedin.com/company/mahindragroup...,1083086,Executive Offices,data analytics,Full-timeMid-Senior level6,C-85,D-34

In [23]:
df.dtypes

Job_ID         object
Company        object
Job_name       object
Location       object
Applicants      int64
involvement    object
Level          object
Employees       int64
Link           object
Followers       int64
Industry       object
skills         object
merged         object
Company_ID     object
Details_ID     object
dtype: object

In [24]:
from sklearn.cluster import KMeans
kmeans=KMeans(4)

In [8]:
df['Followers']=df['Followers'].drop([328])

In [22]:
df['Followers'].unique()

array([  18054,   57465, 1897527, 1156557,   11447, 1312733, 3570127,
        387800, 3923020, 3151200, 6462755,    9491,  121805,  235506,
        836404,   42223,     453,  795838, 2044378, 6993519,    3331,
       2248950, 1686546,   18204, 2167232,    2126, 1372595, 1619531,
       5147832, 1603730,  458788,    3064,   91623,   18107, 1357755,
        159279,  576519,   22168,  670067,  120007,   42233,    1519,
          2420,  194224, 3547179,  456707,    1611, 1475765, 3032028,
        190868,  790457,     146,    4225, 1499846,   21107,  976867,
           606, 1509790,   45905, 1719130, 2596262, 6073827,  153880,
        306699,    8921,   58879,   15265,    3055,  435555, 2305276,
       6927538,     597, 1471678,   20011,  210938, 4308116,   68618,
        233509,    1197, 4798788,  535078,  733242,   23910,  691242,
         83948, 1083086,  407662, 6510006, 3454745, 4641861,  297095,
        636818,   15299,  343668, 1256566,   52015,    9775, 3732774,
         30847,  469337, 5864958,  640596,  476998, 3099336,  926560,
          9375, 3365316,  475543,  364703,  872860,  451484,    7502,
        453706,  273104, 1223937,  127658,   46166,   71131,  162467,
         39731,  310254,   72438,   53019,  404458,     122,    7716,
         22695, 2244891,  616060,   71237,  186561,  769194,  518074,
        468024,  222353, 4145217,  123885,  107996,  367782,  166247,
        169120,   85330, 1222447,   14813,  793143,  444485,  276769,
         36757,     108,  228957,  389644,   19475,  125123,    2408,
          3431, 5777650,    6292,  893971, 1052597,      19,  186007,
        978791,     600,  345196,  298865], dtype=int64)

In [11]:
df=df.dropna()

In [12]:
new_df=df[['Followers','Employees']]

In [13]:
df.isna().sum()

Unnamed: 0         0
Job-id             0
Company            0
Company-ID         0
Job_name           0
Location           0
Applicants         0
involvement        0
Level              0
Employees          0
Link               0
Job_description    0
Followers          0
Industry           0
skills             0
dtype: int64

In [25]:
kmeans.fit(new_df)

KMeans(n_clusters=4)

In [26]:
cluster_value=kmeans.predict(new_df)

In [27]:
df["clusters"]=cluster_value

In [28]:
df

,Job_ID,Company,Job_name,Location,Applicants,involvement,Level,Employees,Link,Followers,Industry,skills,merged,Company_ID,Details_ID,clusters
0,J-0,MedTourEasy,R Analyst Trainee,"Bengaluru, Karnataka, India",14,Internship,Internship,350,https://www.linkedin.com/company/medtoureasyy/...,18054,Hospitals and Health Care,"adaptability,business acumen,communication ski...",InternshipInternship14,C-0,D-0,3
1,J-1,Infoparks Kerala,Immediate hiring - AR Caller,"Kochi, Kerala, India",3,Full-time,Entry level,10001,https://www.linkedin.com/company/infoparkskera...,57465,IT Services and IT Consulting,"analytical and problem solving,communication s...",Full-timeEntry level3,C-1,D-1,3
2,J-2,Infoparks Kerala,QA Tester - Manual and Automation,"Kochi, Kerala, India",18,Full-time,Entry level,10001,https://www.linkedin.com/company/infoparkskera...,57465,IT Services and IT Consulting,"analytical and problem solving,communication s...",Full-timeEntry level18,C-1,D-2,3
3,J-3,GE Healthcare,Software Engineer,"Bengaluru, Karnataka, India",46,Full-time,Entry level,10001,https://www.linkedin.com/company/gehealthcare/...,1897527,Hospitals and Health Care,"analytical and problem solving,collaboration,c...",Full-timeEntry level46,C-2,D-3,0
4,J-4,Qualcomm,"Engineer, Staff","Hyderabad, Telangana, India",11,Full-time,Entry level,10001,https://www.linkedin.com/company/qualcomm/life/,1156557,Wireless Services,"analytical and problem solving,machine learnin...",Full-timeEntry level11,C-3,D-4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,J-404,Larsen & Toubro,Project Manager,"Chennai, Tamildu, India",91,Full-time,Entry level,10001,https://www.linkedin.com/company/larsen-&-toub...,3365316,Construction,data analytics,Full-timeEntry level91,C-106,D-171,2
411,J-405,Aster DM Healthcare,"Staff Nurse. Nursing.Aster Mother Hospital, Ar...","Eranad, Kerala, India",11,Full-time,Mid-Senior level,10001,https://www.linkedin.com/company/asterdmhealth...,298865,Hospitals and Health Care,data analytics,Full-timeMid-Senior level11,C-165,D-26,3
412,J-406,Larsen & Toubro,Project Site Engineer,"Chennai, Tamildu, India",59,Full-time,Entry level,10001,https://www.linkedin.com/company/larsen-&-toub...,3365316,Construction,data analytics,Full-timeEntry level59,C-106,D-172,2
413,J-407,Aster DM Healthcare,Deputy Manager.International Marketing.Aster C...,"Bengaluru, Karnataka, India",5,Full-time,Mid-Senior level,10001,https://www.linkedin.com/company/asterdmhealth...,298865,Hospitals and Health Care,data analytics,Full-timeMid-Senior level5,C-165,D-14,3
414,J-408,Mahindra Group,Senior Engineer,"Chennai, Tamildu, India",6,Full-time,Mid-Senior level,10001,https://www.linkedin.com/company/mahindragroup...,1083086,Executive Offices,data analytics,Full-timeMid-Senior level6,C-85,D-34,0

In [29]:
df.to_csv('C:/Users/mayan/Downloads/master_data_file.csv')